<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <p>Porque no llegan a hacer ni miau</p>
      <p>Ni tampoco guau</p>
      <p>Son todos loros y yo con loros no ando</p>
    </header>
    {{{body}}}
  </body>
</html>